
# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dotnet generated
project.lock.json
project.fragment.lock.json

# NuGet packages
*.nupkg
*.snupkg
packages/
*.symbols.nupkg

# Others
*.swp
*.bak
*.tmp
